In [1]:
import numpy as np
import pandas as pd

def preprocess(df):
    n = df.shape[0]
    flags = [0 for i in range(n)]
    emojis = [{} for i in range(n)]
    df['review'] = df['review'].apply(lambda x : x.split("//")[0] if "//" in x else x)
    for i in range(n):
        start = []
        s = df.iloc[i, 1]
        for j in range(len(s)):
            if s[j] == "[":
                start.append(j)
            if s[j] == "]" and len(start) > 0:
                flags[i] = 1
                emoji = s[start[-1]:(j + 1)]
                if emoji not in emojis[i]:
                    emojis[i][emoji] = 0
                emojis[i][emoji] += 1
                start.pop()
    df['has_emoji'] = flags
    df['emojis'] = emojis

In [2]:
df1 = pd.read_csv("Data/weibo_senti_100k.csv")
preprocess(df1)
df1 = df1[df1['has_emoji'] == 1][['label', 'review', 'emojis']]
print(df1.shape[0])
df1.head()

95461

,label,review,emojis
0,1,﻿更博了，爆照了，帅的呀，就是越来越爱你！生快傻缺[爱你][爱你][爱你],{'[爱你]': 3}
1,1,@张晓鹏jonathan 土耳其的事要认真对待[哈哈]，否则直接开除。@丁丁看世界 很是细心...,{'[哈哈]': 1}
3,1,美~~~~~[爱你],{'[爱你]': 1}
4,1,梦想有多大，舞台就有多大![鼓掌],{'[鼓掌]': 1}
5,1,[花心][鼓掌],"{'[花心]': 1, '[鼓掌]': 1}"

In [3]:
# Check if filtered dataset is still balanced
print(df1[df1['label'] == 0].shape[0], df1[df1['label'] == 1].shape[0])

46791 48670

In [4]:
df2 = pd.read_csv('Data/dianping/ratings.csv')
df2 = df2.dropna()
df2['label'] = np.where(df2['rating'] > 3, 1, 0)
df2['length'] = df2['comment'].str.len()
df2 = df2[df2['length'] <= 512]
df2 = df2[['label', 'comment']].sample(n = df1.shape[0], replace = False, random_state = 0)
df2.columns = ['label', 'review']
print(df2.shape[0])
df2.head()

95461

         label                                             review
1279759      0  据说是各路明星最爱吃的一家店，早都料到也许盛名之下其实难副，但在北京，找到好吃的川菜，确实不...
1052369      1  第一次吃这家店里面的东西，以前都是去寿宁路吃的，这次来这家店我们就吃了赖尿虾，6个人我们吃了...
796741       0  元宵节那天去的，听说有道“酸菜炒汤圆”味道很赞。\n地方不算好找，在胡同里，停车也有点费劲（...
2636213      1  经常路过 今儿头回进去\n可能太晚了 都没有人\n服务员挺热心 什么都帮着拿\n觉得比旁边的...
1398034      0  最近很忙，一天在它家打了个中午，试了招牌的五味排骨饭，送例汤。\n感觉一般，酱料偏甜，排骨是...

In [5]:
df1.to_csv('Data/processed_Weibo_data.csv')
df2.to_csv('Data/processed_Dianping_data.csv')